* {
	padding: 0;
	
}

.square {
	display: inline-block;
	padding: 0;
	float: left;
	height: 30px;
	width: 30px;
	
	border-collapse: collapse;
	line-height: 0;
}

.hovered {
	background-color: #666;
}

.container {
	display: block;
	width: 875px;
	height: 875px;
	margin: 0 auto;
	line-height: 0;
	border:1px solid #000;
}

button {
	position: relative;
	margin-top: -20px;
	margin-bottom: 5px;
	display: inline;
	height: 30px;
	width: 120px;
}